.header_topline {
    background-color: #43484c;
    padding: 15px 0;
    color: white;
}
.top_links {
    margin: 20px 0 50px;
}
.logo {
    display: inline-block;
}
.soc_buttons {
    float: right;
}
.soc_buttons a {
    margin-left: 5px;
}
.soc_buttons a:hover {
     border-bottom: 1px solid #fff;
}
.clear_both {
    clear: both;
}
.menu_buttons {
    float: right;
}
.menu_buttons span {
    padding: 10px 10px 10px 10px;
    margin-left: 5px;
    border-bottom: 1px solid #fff
}