/* header styles start */

.header_topline {
    background-color: white;
    min-height: 165px;
    border-bottom: 1px solid #bbb;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 80px;
    background-image: url("image/logo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    top: -8px;
}
.logo img {
     width: 200px;
    height: 80px;
}
.registr {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
    cursor: pointer;
}
.registr i {
    font-size: 20px;
    color: #999;
}

.soc_buttons {
    float: right;
    min-height: 48px;
    background-color: #a33;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 9px;
}
.soc_buttons a {
    text-decoration: none;
}
.soc_buttons a:first-child {
    margin-left: 10px;
}
.soc_buttons a:nth-child(2) {
    margin-left: 3px;
}
.soc_buttons a:nth-child(3) {
    margin-left: 3px;
}
.soc_buttons a:last-child {
    margin-right: 10px;
}
.soc_buttons i {
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
}
.soc_buttons i:hover {
    background-color: #338ab7;
    color: #fff;
}
.clear_both {
    clear: both;
}
.menu_buttons {
    float: right;
    font-size: 17px;
    padding-top: 35px;
    margin-right: 8px;
    padding-left: 0;
}

.menu_buttons li a {
    padding: 12px 12px;
    margin-left: 8px;
    color: #888;
}
.menu_buttons li a:hover {
    background-color: white;
}
.menu_buttons a.selected {
    border-bottom: 1px solid #faa;
}
.menu_buttons a:hover {
    border-bottom: 1px solid #faa;
    color: #bbb;
}


/* header styles end*/