/* header styles start */

.header_topline {
    background-color: white;
    min-height: 165px;
    border-bottom: 1px solid #bbb;
}

.logo {
    display: inline-block;
    border: 1px solid #ccc;
    width: 200px;
    height: 80px;
}
.registr {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
}
.registr:hover {
    cursor: pointer;
}
.registr i {
    font-size: 20px;
}

.soc_buttons {
    float: right;
    min-height: 48px;
    background-color: #a33;
    border-radius: 4px;
    padding-top: 9px;
}
.soc_buttons a:first-child {
    margin-left: 10px;
}
.soc_buttons a:nth-child(2) {
    margin-left: 3px;
}
.soc_buttons a:nth-child(3) {
    margin-left: 3px;
}
.soc_buttons a:last-child {
    margin-right: 10px;
}
.soc_buttons i {
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
}
.soc_buttons i:hover {
    background-color: #faa;
}
.clear_both {
    clear: both;
}
.menu_buttons {
    float: right;
    font-size: 17px;
    padding-top: 35px;
    margin-right: 25px;
    margin-bottom: 20px;
}
.menu_buttons span {
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
}
.menu_buttons span a {
    color: #888;
    text-decoration: none;
}
.menu_buttons span:first-child {
    border-bottom: 1px solid #ccc;
}
.menu_buttons span:hover {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.menu_buttons span:hover a {
    color: #ccc;
}

/* header styles end*/