.panel.panel-default {
    width: 75%;
    margin: 0 auto;
}
.panel.panel-default img {
    width: 100%;
}
.panel.panel-default a {
    display: block;
    padding: 15px;
}
.panel.panel-default a:hover {
    background-color: #396;
    text-decoration: none;
}
.panel-heading {
    padding: 0;
}