.portfolio .row {
    padding: 15px 60px;
    margin: 0;
}
.portfolio .modal-link {
    cursor: pointer;
}
.portfolio .modal-content img {
    width: 100%;
}

.portfolio .clear-both {
    clear: both;
}
.portfolio .carousel-control {
    cursor: pointer;
}
.portfolio .modal-content img {
    cursor: pointer;
}
.portfolio .carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    top: 5%;
    left: 26%;
    font-size: 16px;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 70%;
    }
}
    